.body {
    margin: 0.3125rem;
    padding: 0.3125rem;
}

.navbar {
    display: flex;
    background-color: rgba(57, 79, 244, 0.9);
    font-size: 1.038rem;
    position: fixed;
    top: 0;
    height: 5.625rem;
    width: 100%;
    text-align: right;
    font-family: 'Pacifico', cursive;
    color: white;
    justify-content: end;
}

.logo {
    margin-top: 1.875rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.home {
    margin-right: 3.125rem;
    margin-left: 46.875rem;
    margin-top: 1.875rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    letter-spacing: 0.0625rem;
}

.about {
    margin-right: 3.125rem;
    margin-top: 1.875rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.skill-tools {
    margin-right: 3.125rem;
    margin-top: 1.875rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.work {
    margin-right: 3.125rem;
    margin-top: 1.875rem;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
}

/*
.testimonials {
    margin-right: 3.125rem;
    margin-top: 1.875rem;
    cursor: pointer;
    text-decoration: none;
}*/

.contact {
    margin-right: 3.125rem;
    margin-top: 1.875rem;
    text-decoration: none;
    color: white;
    text-decoration: none;
}

/*.blog {
    margin-right: 3.125rem;
    margin-top: 1.875rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.updates {
    margin-top: 1.875rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}*/

.header-container {
    height: 31.875rem;
    display: flex;
    width: 82.5rem;
    background-color: lightgreen;
    font-family: "Mada", sans-serif;
    color: #fff;
    letter-spacing: 0.05rem;
    font-size: 1.875rem;
    font-family: sans-serif;
}

.header-container h1 {
    margin-left: 4.375rem;
    padding-top: 4.6875rem;
}

.contact-sec {
    display: flex;
    flex-direction: row;
    padding: 3.125rem 12.5rem;
}

.input-sec>h2 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #f0535d;
    letter-spacing: 0.06rem;
}

.input-sec>h3 {
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #1c2273;
}

.input-sec>p {
    font-size: 1.25rem;
    width: 37.5rem;
}

.input-sec>form {
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}

footer {
    text-align: center;
    background-color: #e1b4e5;
    padding: 1.5625rem 0 1.25rem;
}

.input-sec>button {
    background-color: #a1eacd;
    height: 2.5rem;
    width: 9.375rem;
    border: none;
    font-family: "Crimson Text", serif;
    font-size: 1.5625rem;
}

.input-sec>button:hover {
    background-color: #f48480;
    color: white;
}

.Name-input {
    border-color: red;
    height: 4.375rem;
    width: 100%;
}

.email-input {
    border-color: red;
    height: 4.375rem;
    width: 100%;
}

.message-input {
    border-color: red;
    height: 8.125rem;
    width: 100%;
}

.social-platforms>i {
    font-size: 1.5625rem;
    color: blue;
    margin-right: 0.4375rem;
}

.social-platforms>h3 {
    font-family: "Crimson Text", serif;
    font-size: 1.4375rem;
    font-weight: 500;
}

.social-platforms {
    margin-top: 20.625rem;
    margin-left: 3.125rem;
    letter-spacing: 0.0625rem;
    height: 0rem;
}

.about-sec {
    background-color: #f6e6e0;
    padding: 3.125rem 12.5rem;
}

.about-sec>h2 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 0 0 0.625rem;
    color: #f0535d;
    letter-spacing: 0.06rem;
}

.about-sec>h3 {
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #1c2273;
    font-family: "Crimson Text", serif;
}

.about-content {
    display: flex;
    gap: 1.25rem;
}

.about-txt {
    margin-left: 4.9375rem;
    font-size: 1.2188rem;
}

.about-txt>h4 {
    color: #7689d8;
    font-family: "Crimson Text", serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
    max-width: 37.5rem;
    letter-spacing: 0.02rem;
    margin: 1rem 0 -0.5rem;
}

.about-img img {
    border-radius: 50%;
    max-height: 15.625rem;
    max-width: 15.625rem;
}

.skills-tools-sec {
    background-color: #eeb4aa;
    padding: 3.125rem 0;
    margin: 0;
}

.skills-tools-sec>.wrapper {
    margin: 0 auto;
    padding: 0 8%;
    width: 100%;
}

.skills-tools-sec>.wrapper>h2 {
    color: white;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.06rem;
}

.skills-tools-sec>.wrapper>h3 {
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #1c2273;
    font-family: "Crimson Text", serif;
}

.skills-tools-sec>.wrapper p {
    line-height: 1.55;
    font-size: 1.2rem;
    margin-bottom: 3.125rem;
}

.skills-tools-icons {
    display: flex;
    flex-wrap: wrap;
}

.skills-tools-icons>.box-icon {
    font-size: 3.5rem;
    color: white;
    width: 25%;
    height: 8.875rem;
    margin-bottom: 0.625rem;
}

.skills-tools-icons>.box-icon>p {
    color: #656565;
    margin-top: 0.0625rem;
}

.work-sec {
    background-color: #7689d8;
    padding-top: 5rem;
    padding-bottom: 0.0625rem;
    margin: 0;
    padding: 3.125rem 0;
}

.skills-tools-sec>.wrapper>h4 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
    color: #7689d8;
    max-width: 37.5rem;
    letter-spacing: 0.02rem;
    margin: 1rem 0 -0.5rem;
}

.skills-tools-sec>.wrapper>p {
    line-height: 1.55;
    font-size: 1.2rem;
    width: 55%;
}

.skills-tools-sec>.wrapper>p>a {
    color: #394ff4;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Mada", sans-serif;
    padding: 0 0.125rem;
    text-decoration: none;
    letter-spacing: 0.01rem;
}

.work-sec>.wrapper>h2 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 0.9375rem;
    letter-spacing: 0.06rem;
    margin: 0 0 0.625rem;
    text-transform: uppercase;
}

.work-sec>.wrapper>h3 {
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #1c2273;
    font-family: "Crimson Text", serif;
}

.work-sec>.wrapper {
    padding: 0 8%;
    margin: 0 auto;
}

.work-sec>.wrapper>.container-work-1>.container-img-1 {
    width: 56%;
    padding-top: 0rem;
}

.work-sec>.wrapper>.container-work-1>.container-img-1>img {
    display: block;
    width: 28.75rem;
    height: 18.125rem;
}

.work-sec>.wrapper>.container-work-1>.container-txt-1>h4 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
    color: #eeb4aa;
    max-width: 37.5rem;
    letter-spacing: 0.02rem;
    margin: 1rem 0 -0.5rem;
    font-family: "Crimson Text", serif;
}

.work-sec>.wrapper>.container-work-1>.container-txt-1>p {
    line-height: 1.55;
    font-size: 1.2rem;
    font-family: "Mada", sans-serif;
    color: #252525;
    width: 60%;
}

.work-sec>.wrapper>.container-work-1>.container-txt-1>p>a {
    color: #394ff4;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Mada", sans-serif;
    padding: 0 0.125rem;
    text-decoration: none;
}

.work-sec>.wrapper>.container-work-1 {
    display: flex;
}

.work-sec>.wrapper>.container-work-1>.container-txt-1>.container-icons {
    margin-bottom: 1rem;
}

.work-sec>.wrapper>.container-work-1>.container-txt-1>.container-icons>.box-icons>i {
    color: white;
    font-size: 1.875rem;
    margin-right: 0.75rem;
}

.work-sec>.wrapper>.container-work-1>.container-txt-1>.container-icons>.box-icons {
    display: flex;
}

.work-sec>.wrapper>.container-work-1>.container-txt-1>.container-btn>a {
    color: #252525;
    text-decoration: none;
    letter-spacing: .01rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    font-family: "Crimson Text", serif;
    margin-bottom: 0.4375rem;
    background-color: #a1eacd;
    display: inline-block;
    padding: 0.5rem 1.5rem 1rem;
    border: none;
    margin-right: 0.3125rem;
}

.work-sec>.wrapper>.container-work-2>.container-img-2>img {
    width: 31.25rem;
    margin-top: 1.875rem;
}

.work-sec>.wrapper>.container-work-2>.container-text-2>h4 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
    color: #eeb4aa;
    max-width: 37.5rem;
    letter-spacing: 0.02rem;
    margin: 1rem 0 -0.5rem;
}

.work-sec>.wrapper>.container-work-2 {
    display: flex;
}

.work-sec>.wrapper>.container-work-2>.container-text-2>p {
    line-height: 1.55;
    font-size: 1.2rem;
    color: #252525;
    font-family: "Mada", sans-serif;
}

.work-sec>.wrapper>.container-work-2>.container-text-2 {
    margin-top: 3.75rem;
    margin-left: 1.25rem;
    width: 35%;
}

.work-sec>.wrapper>.container-work-2>.container-text-2>.container-icons {
    margin-bottom: 1rem;
}

.work-sec>.wrapper>.container-work-2>.container-text-2>.container-icons>.box-icons {
    display: flex;
}

.work-sec>.wrapper>.container-work-2>.container-text-2>.container-icons>.box-icons>i {
    color: white;
    font-size: 1.875rem;
    margin-right: 0.75rem;
}

.work-sec>.wrapper>.container-work-2>.container-text-2>.container-btn>a {
    color: #252525;
    text-decoration: none;
    letter-spacing: .01rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    font-family: "Crimson Text", serif;
    margin-bottom: 0.4375rem;
    background-color: #a1eacd;
    display: inline-block;
    padding: 0.5rem 1.5rem 1rem;
    border: none;
    margin-right: 0.3125rem;
}

.work-sec>.wrapper>.container-work-3>.container-text-3 {
    width: 45%;
}

.work-sec>.wrapper>.container-work-3>.container-text-3>h4 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
    color: #eeb4aa;
    max-width: 37.5rem;
    letter-spacing: 0.02rem;
    margin: 1rem 0 -0.5rem;
}

.work-sec>.wrapper>.container-work-3>.container-text-3>p {
    line-height: 1.55;
    font-size: 1.2rem;
    color: #252525;
    font-family: "Mada", sans-serif;
}

.work-sec>.wrapper>.container-work-3>.container-text-3>p>a {
    text-decoration: none;
    color: #394ff4;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Mada", sans-serif;
    padding: 0 0.125rem;
    letter-spacing: 0.01rem;
}

.work-sec>.wrapper>.container-work-3>.container-text-3>.container-icons {
    margin-bottom: 1rem;
}

.work-sec>.wrapper>.container-work-3>.container-text-3>.container-icons>.box-icons>i {
    color: white;
    font-size: 1.875rem;
    margin-right: 0.75rem;
}

.work-sec>.wrapper>.container-work-3>.container-text-3>.container-icons>.box-icons {
    color: white;
}

.work-sec>.wrapper>.container-work-3>.container-text-3>.container-btn>a {
    margin-bottom: 0.4375rem;
    background-color: #a1eacd;
    display: inline-block;
    padding: 0.5rem 1.5rem 1rem;
    border: none;
    margin-right: 0.3125rem;
    color: #252525;
    text-decoration: none;
    letter-spacing: 0.01rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    font-family: "Crimson Text", serif;
}

.work-sec>.wrapper>.container-work-3 {
    display: flex;
}

.work-sec>.wrapper>.container-work-3>.container-img-3>img {
    width: 31.25rem;
    margin-top: 1.875rem;
}

@media all and (max-width: 600px) {
    .about-txt p {
        width: 33.6875rem;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: normal;
        justify-content: normal;
        align-items: center;
    }

    .about-img img {
        max-width: 18.125rem;
        max-height: 18.125rem;
    }

    .about-sec h3 {
        width: 213px;
    }

    .about-sec h2 {
        margin-left: 45px;
    }

    .about-txt h4 {
        width: 590px;
        margin-right: 65px;
    }
}